*{margin:0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;}
html,
body{height: 100%;}
.wrapper{min-height: 100%;display: flex; flex-direction: column;}
.header{width:100%;height:10vh;border-bottom: 1px solid grey;}
.main{width:100%; height:80vh; border-bottom: 1px solid grey; min-height: 100%; flex:1 1 auto;}
.footer{width:100vw; height:10vh;}
.header a{font-size:14px;margin-left:20px;text-align: center;}
.logo{ margin-left:24.7vw;margin-top:30px; width: 13vw;}
.menu{margin-left:40vw;top:50px;margin-bottom: 100px; position: absolute;}
.header a:hover{   color:#3aa51a;   cursor: pointer;}
.content-main-block{display: flex;max-width: 1000px;margin: 10px auto; height: 308px;  justify-content: center; box-shadow: 1px 1px 1px 1px grey;}
.content-main-block-name{margin-left:20px; margin-top:20px;}
.content-main-block-name a{font-size:22px;color: #3aa51a;border-bottom: 1px solid #3aa51a;text-decoration: none;}
.content-main-block-price{margin-left:20px; margin-top: 20px;}
.content-main-block-price a{font-size:32px; font-weight: bold;}
.content-main-block-moreabout{width: 140px; height: 40px; background:#3aa51a; margin-left:20px; margin-top:20px; text-align: center; border-radius: 10px; box-shadow: 0 2px 0 0 black;}
.content-main-block-moreabout a{font-size:22px;line-height: 35px;}
.content-main-block-moreabout :hover{ background: gray;}
.blocks{max-width: 1300px; max-height: 600px; margin: 10px auto; border-top:0.1px solid grey; position: relative;}
.block1{width: 260px; max-height: 600px; } 
.block2{width: 260px; max-height: 600px;}
.block3{width: 260px; max-height: 600px;}
.block4{width: 260px; max-height: 600px;}
.block5{width: 260px; max-height: 600px;}
.block1-img{max-width: 199px;}
.blocks{display: flex;}
.blocks a{    color: #3aa51a;}
#block1-more{display:none;}
#block2-more{display: none;}
#block3-more{display: none;}
#block4-more{display: none;}
#block5-more{display: none;}
button{width: 100px; height: 30px; background-color: #3aa51a; color: white; border:0; border-radius: 5px;}

