body{margin:0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;}
*,
*:before,
*:after{box-sizing:border-box}
.wrapper{overflow:hidden; display:flex;flex-direction:column; min-height:100vh;}
.header{border-bottom: 1px solid #f0f0f0;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(240, 240, 240);right:0; left:0;}
.header-inner{width: 1300px; margin: auto; display: flex;}
.main{width:100%; height:100%;min-height: 100%;}
.footer{width:100%;margin-top:auto;border:1px solid #dddddd;padding: 0;}
.footer-middle{width: 100%; height: 40px; background-color: #3aa51a;}
.middle-wrapper{margin: auto; width: 1000px; height: 100%; margin: auto;}
.bottom-main-menu{display: flex;justify-content: center;}
.bottom-main-menu a{display: block; padding: 12px 50px 0 50px;color: white; cursor: pointer;}
.form{width: 580px;margin:0 auto;height: 160px;margin: 0 auto;display: flex;}
.footer-top{background: rgba(240, 240, 240, 1);}
.footer-bottom{background: rgba(240, 240, 240, 1); width: 100%; height: 200px;}
.fields{display: flex; flex-wrap: wrap;}
.field{flex: 1 .8;}
.wrapper-inner{width: 1000px;height: 1000%;background-color: white; margin: auto;background-color: #3aa51a;}
.wrapper-inner ul li{display: inline;}
.wrapper-inner ul {margin: 14px auto;}
.header a{font-size:14px;margin-left:20px;text-align: center;}
.logo{margin-top:30px; width: 250px;min-height: 61px;line-height: 61px; margin-left:150px;}
.menu{top:50px;margin-bottom: 100px; position: relative; margin-left:100px;}
.header a:hover{   color:#3aa51a;   cursor: pointer;}
.content-main-block{display: flex;max-width: 1000px;margin: 10px auto; height: 308px;  justify-content: center;}
.content-main-block-name{margin-left:20px; margin-top:20px;}
.content-main-block-name a{font-size:22px;color: #3aa51a;border-bottom: 1px solid #3aa51a;text-decoration: none;}
.content-main-block-price{margin-left:20px; margin-top: 20px;}
.content-main-block-price a{font-size:32px; font-weight: bold;}
.content-main-block-moreabout a{font-size:22px;line-height: 35px;}
.blocks{max-width: 1000px; margin: 10px auto;position: relative;}
.block1{width: 200px;  } 
.block2{width: 200px; }
.block3{width: 200px; }
.block4{width: 200px; }
.block5{width: 200px; }
.block1-img{max-width: 199px;}
.blocks{display: flex;}
.blocks a{    color: #3aa51a;}
#block1-more{display:none;}
#block2-more{display: none;}
#block3-more{display: none;}
#block4-more{display: none;}
#block5-more{display: none;}
.info-column{width: 1000px; margin:10px auto;display: flex; flex-direction: row;}
.about-column{width: 50%;padding: 20px; line-height: 20px;}
.news-column{width: 50%;padding: 20px; line-height: 15px;}
.info-column a{color:black;font-size:20px;}
#about_show_more_content{display: none;transition-property:display;transition-duration: 3s;}
#about-show-more{cursor: pointer;}
.shadow-img{margin: auto; width: 1000px;}
.slider{width: 1000px; padding: 40px;overflow: hidden;}
.slider-line{width: 5000px; display: flex;position: relative; transition: all ease 1s;left:0;}
.slider-line img{padding: 0 10px 0 10px;filter: grayscale(1);}
.slider-wrapper{display: flex;width: 1200px; margin: auto;}
li {list-style-type: none;}
button{background-color: #3aa51a; border-radius: 5px; box-shadow: 0px 1px 1px 0px #3aa51a;}
button:active{background-color: gray;}
